

.search-bar{
     display: flex;
     position: relative;
     margin-right: 40px;
}

.div-icon{
     color: black;
     
     background: gray;
     height: 100%;
     width: 30px;
     position: absolute;
    left: 370px;  
    border-radius: 0px 5px 5px 0px;    
}

.search-icon{
     position: absolute;
     top: 12px;
     left: 8px;
}